# Node
node_modules
dist
dist-ssr
*.local

# Tauri
src-tauri/target
src-tauri/Cargo.lock

# Environment & secrets
.env
.env.*
*.log
*.sqlite
*.db

# Editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
