# Node
node_modules
dist
dist-ssr
*.local

# Tauri
src-tauri/target

# Environment & secrets
.env
.env.*
*.log
*.sqlite
*.db

# Editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
playwright-report
test-results
downloads
release-download
